$path: "../fonts/";


@import "fonts/_fontawesome.scss";
//@import "fonts/_appetite.scss";
//@import "fonts/_montserrat.scss";
//@import "fonts/_gothampro.scss";
//@import "fonts/_gilroy.scss";
//@import "fonts/_thewestgate.scss";
//@import "fonts/_days.scss";
//@import "fonts/_archive.scss";
@import "fonts/_myriadpro.scss";
@import "fonts/_verdana.scss";
@import "fonts/_swiss721BT.scss";
//@import "fonts/_myriadpro.scss";
//@import "fonts/_opensans.scss";
//@import "fonts/_raleway.scss";









@font-face {
    font-family: 'Algerian';
    src: url($path+'Algerian.woff2') format('woff2'),
        url($path+'Algerian.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Algemaria';
    src: url($path+'AlgemariaNormal.woff2') format('woff2'),
        url($path+'AlgemariaNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Algeria';
    src: url($path+'Algeria.woff2') format('woff2'),
        url($path+'Algeria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Algerian';
    src: url($path+'Algerian.woff2') format('woff2'),
        url($path+'Algerian.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlgerianD';
    src: url($path+'AlgerianD.woff2') format('woff2'),
        url($path+'AlgerianD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}






























































































